.App {
  height: 100vh;
}

.btn-a {
  color: white !important;
  background-color: #46139f !important;
}

.btn-b {
  color: white !important;
  background-color: #ff7f50 !important;
}

.btn-c {
  border-color: #46139f !important;
  background-color: white !important;
  color: #46139f !important;
}